/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
.bg-seccolorstyle.bg-white.noshadow.mt-50.p-50.br-12 {
    margin-top: 0px !important;
    background-color: red;
}
div#containerNewUserSecurity {
    justify-items: center !important;
}
div#containerNewUserSignup {
    justify-items: center;
}
